body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 20px;
}